# /etc/strongswan/ipsec.secrets - StrongSwan IPsec secrets file
# {{ ansible_managed }}

# Pre-shared key for IPSec connections
{% for client in vpn_clients %}
{{ client.username }} : PSK "{{ client.password }}"
{% endfor %}